body {
  width: 900px;
  margin: 0 auto;
  padding: 50px;
}

h1 {
  color:purple;
  font-size:100px;
  text-align:center;
}

h2 {
  color:darkblue;
  font-size:40px;
  text-align:center;
}

.hero p {
  font-size: 25px;
}

header * {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  width: 200px;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  float: right;
}
